*,
*::before,
*::after {
  box-sizing: border-box;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  background: #f5f5f5;
  padding: 0;
  margin: 0;
  font: 400 16px/1.4 'Ubuntu', sans-serif;
}
.demo-header {
  padding: 20px;
  color: #fff;
  background-color: #784BA0;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}
.demo-caption {
  margin: 0;
  font: 400 40px/1 'Ubuntu', sans-serif;
}
.demo-content {
  padding: 20px;
}
.drop-area-simulator {
  border-radius: 10px;
  padding: 40px;
  border: 1px dashed #455A64;
  background: #fff;
  text-align: center;
}
.drop-area-simulator input:focus + .button:before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border: 1px dashed #fff;
  border-radius: 2px;
}
.demo-table {
  border-collapse: collapse;
  border-spacing: 0;
}
.demo-table__first-col {
  width: 400px;
}
.demo-table__td,
.demo-table__th {
  border: 1px solid #ccc;
}
.demo-table__td {
  vertical-align: top;
  padding: 20px;
}
.demo-table__th {
  padding: 5px;
  font: 500 20px/1.2 'Ubuntu', sans-serif;
  background: #fff;
}
.dialog-simulator {
  background: #fff;
  border: 1px solid #455A64;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.dialog-simulator-header {
  display: flex;
  align-items: center;
  background: #455A64;
  color: #fff;
  padding: 0 5px 0 10px;
}
.dialog-simulator-header__caption {
  flex: 1;
  margin: 0;
  padding: 4px 10px 5px 0;
  font: 500 18px/1.2 'Ubuntu', sans-serif;
}
.dialog-simulator-body {
  padding: 10px;
}
.dialog-simulator-buttons {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.dialog-close {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
}
.dialog-close:focus {
  outline: 1px dotted #fff;
}
.dialog-close::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') repeat;
}
.dialog-close,
.dialog-close__inner {
  width: 20px;
  height: 20px;
}
.dialog-close__inner {
  position: relative;
  display: block;
}
.dialog-close__inner::before,
.dialog-close__inner::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -1px;
  background: #fff;
}
.dialog-close__inner::before {
  transform: rotate(45deg);
}
.dialog-close__inner::after {
  transform: rotate(-45deg);
}
.dialog-button {
  border: 1px solid #607D8B;
  background: #ECEFF1;
  padding: 5px 10px;
  font: 400 14px/18px 'Ubuntu', sans-serif;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.dialog-button:hover,
.dialog-button:focus {
  background: #CFD8DC;
}
.dialog-button:focus {
  outline: none;
}
.dialog-button_ok {
  background: #C8E6C9;
  border-color: #4CAF50;
}
.dialog-button_ok:hover,
.dialog-button_ok:focus {
  background: #A5D6A7;
}
.dialog-button:active {
  top: 1px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.dialog-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') repeat;
}
.dialog-button__inner {
  position: relative;
}
.dialog-button + .dialog-button {
  margin-left: 10px;
}
.ccmp-bg {
  background: #f7f9fd;
}
.ccmp-emphasis-bg {
  background: #e7eaf2;
}
.ccmp-warning-bg {
  background: #fffcdf;
}
.products-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 30px;
  padding: 0 8px;
  white-space: nowrap;
  text-align: center;
  color: #8098b2;
  border: 1px solid #ccd4dc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: transparent;
}
.products-button:hover,
.products-button:focus {
  color: #5a728c;
  background-color: #d8e0ea;
  border-color: #d8e0ea;
}
.products-button:focus {
  outline: none;
}
.products-button__inner {
  position: relative;
  display: inline-flex;
}
.products-button__icon {
  width: 14px;
  height: 14px;
  flex: 0 0 auto;
  margin: 7px 6px 0 -2px;
  background: no-repeat center;
}
.products-button__icon_change {
  background-image: url(../assets/images/products-button-change.svg);
}
.products-button__text {
  font: 300 14px/26px 'Ubuntu', sans-serif;
}
.service-restrict-button {
  height: 26px;
  padding: 2px 9px;
  font: 400 14px/20px 'Ubuntu', sans-serif;
  white-space: nowrap;
  text-align: center;
  color: #000;
  border: 1px solid #ccd4dc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: transparent;
}
.service-restrict-button:disabled {
  opacity: .3;
  cursor: default;
}
.service-restrict-button__inner {
  display: inline-flex;
  align-items: center;
  position: relative;
}
.service-restrict-button__icon {
  width: 12px;
  height: 12px;
  flex: 0 0 auto;
  margin: 0 5px 0 -3px;
  background: no-repeat center;
}
.service-restrict-button__icon_disable {
  background-image: url(../assets/images/12x12-block.svg);
}
.service-restrict-button:hover:not([disabled]),
.service-restrict-button:focus {
  color: #000;
  background-color: #d8e0ea;
  border-color: #d8e0ea;
  outline: none;
}
.service-action-button {
  min-width: 96px;
  height: 25px;
  font: 300 14px/23px 'Ubuntu', sans-serif;
  padding: 0 6px;
  white-space: nowrap;
  text-align: center;
  color: #8098b2;
  border: 1px solid #ccd4dc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: transparent;
}
.service-action-button:hover,
.service-action-button:focus {
  color: #5a728c;
  background-color: #d8e0ea;
  border-color: #d8e0ea;
  outline: none;
}
.service-action-button__inner {
  position: relative;
}
.service-share-button {
  height: 30px;
  padding: 0 14px;
  font: 300 14px/28px 'Ubuntu', sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  color: #8098b2;
  border: 1px solid #ccd4dc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: transparent;
}
.service-share-button:hover {
  color: #5a728c;
  background-color: #d8e0ea;
  border-color: #d8e0ea;
}
.service-share-button__inner {
  position: relative;
}
.change-tp-cancel {
  cursor: pointer;
  background: transparent;
  height: 24px;
  display: block;
  white-space: nowrap;
  color: #4075ae;
  padding: 0 9px;
  border: 1px solid #ccd4dc;
  font: 400 14px/22px 'Ubuntu', sans-serif;
}
.change-tp-cancel__inner {
  position: relative;
}
