@import "../assets/styles/variables";

.button {
  display: inline-flex;
  position: relative;
  text-decoration: none;
  .buttonStyle();
  &:hover:not(:disabled) {
    background: @mediumGray;
  }
  &:focus {
    outline: none;
    &:before {
      content:"";
      position: absolute;
      .fillContainer(3px);
      border: 1px dashed #fff;
      border-radius: 2px;
    }
  }
  &:active:not(:disabled) {
    top:1px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);;
  }
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__text {
    font: 400 16px/20px @fonts;
    margin: 0 10px;
  }
  &__icon {
    .wh(20px);
    background: no-repeat center;
    &:only-child {
      margin:0;
    }
    &_expand {
      background-image: url(../assets/images/expand-20.svg);
    }
    &_collapse {
      background-image: url(../assets/images/collapse-20.svg);
    }
  }
  &:disabled {
    opacity: .5;
    cursor: default;
  }
}