.button {
  display: inline-flex;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 10px;
  align-items: center;
  font: 400 16px/20px 'Ubuntu', sans-serif;
  color: #fff;
  background: #263238;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') repeat;
}
.button:hover:not(:disabled) {
  background: #455A64;
}
.button:focus {
  outline: none;
}
.button:focus::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border: 1px dashed #fff;
  border-radius: 2px;
}
.button:active:not(:disabled) {
  top: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button_green {
  background: #2E7D32;
}
.button_green:hover:not(:disabled) {
  background: #43A047;
}
.button_small {
  padding: 5px;
  font-size: 14px;
}
.button_large {
  padding: 15px;
  font-size: 24px;
  line-height: 30px;
}
.button__inner {
  position: relative;
  display: flex;
  align-items: center;
}
.button__text {
  margin: 0 10px;
}
.button__icon {
  width: 20px;
  height: 20px;
  background: no-repeat center;
  position: relative;
}
.button__icon:only-child {
  margin: 0;
}
.button__icon_expand {
  background-image: url(../assets/images/expand-20.svg);
}
.button__icon_collapse {
  background-image: url(../assets/images/collapse-20.svg);
}
.button__icon_warning {
  overflow: hidden;
}
.button__icon_warning::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -8px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 20px solid #fff;
}
.button__icon_warning::after {
  text-align: center;
  width: 20px;
  position: absolute;
  font: 500 16px/16px 'Ubuntu', sans-serif;
  content: "!";
  color: #263238;
  left: 0;
  top: 4px;
}
.button:disabled {
  opacity: .5;
  cursor: default;
}
